{% extends "index.html" %}

{% block content %}
    <title>App About</title>
    <p style="text-align: center; font-size: 20px;">
        App was created for IT company as a test task.
    </p>
    <p style="text-align: center; font-size: 20px;">
        A common developer pitfall is using SQLite3 for local development and PostgreSQL (or MySQL)
in production. is section applies not only to the SQLite3/PostgreSQL scenario, but to any scenario
where you’re using two different databases and expecting them to behave identically.
    </p>
    <p style="text-align: center; font-size: 13px;"> All rights reserved. Vjach Ltd.</p>
{% endblock content %}