{% extends "index.html" %}
{% block title %}
    <title>Balance Page</title>
{% endblock title %}

{% block content %}
    <div>
        <h3><p>Card Number - {{ card }}</p></h3>
        <h3><p>Balance - {{ amount }}</p></h3>
        <h3><p>Date - {{ now }}</p></h3>
        <form action="." method="get">
            <button class="btn btn-lg btn-success" name="prev">Prev</button>
            <button class="btn btn-lg btn-danger" name="exit">Exit</button>
        </form>
    </div>
{% endblock content %}