{% extends "index.html" %}
{% block title %}
    <title>Balance Page</title>
{% endblock title %}

{% block content %}
    <div>
        <p>Card Number - {{ card }}</p>
        <p>Balance - {{ amount }}</p>
        <p>Date - {{ now }}</p>
        <form>
            {% csrf_token %}
            <input onclick="location.href='/cash/operations/'" type="button" name="prev" value="Prev" />
            <input onclick="location.href='/cash/'" type="button" name="exit" value="Exit"/>
        </form>
    </div>
{% endblock content %}