{% extends "index.html" %}
{% block title %}
    <title>Balance Page</title>
{% endblock title %}

{% block content %}
    <div>
        <h3><p>Card Number - {{ card }}</p></h3>
        <h3><p>Balance - {{ amount }}</p></h3>
        <h3><p>Date - {{ now }}</p></h3>
        <form action="" method="get">
            {% csrf_token %}
            <input class="btn btn-lg btn-success" onclick="location.href='/cash/operations/'" type="button" name="prev" value="Prev" />
            <input class="btn btn-lg btn-danger" onclick="location.href='/cash/'" type="button" name="exit" value="Exit"/>
        </form>
    </div>
{% endblock content %}