<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}{% endblock title %}
    {% block script %}{% endblock script%}
    <style>
        body{
            background-image: url("/static/media/background.jpg");
            padding-top: 10%;
            text-align: center;
        }
    </style>
    <link href="/static/css/jquery.keypad.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="/static/css/jquery.payfield.css">-->
    <link rel="stylesheet" href="/static/css/jqx.base.css" type="text/css" />
    <style>
        #inlineKeypad { width: 10em; }
    </style>
    <script type="text/javascript" src="/static/js/scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jqxcore.js"></script>
    <script type="text/javascript" src="/static/js/jqxmaskedinput.js"></script>

    <script src="/static/js/jquery.plugin.js"></script>
    <script src="/static/js/jquery.keypad.js"></script>

    <script type="text/javascript">
    $(function () {
	    $('#defaultKeypad').keypad();
	});
    </script>

    <!--<script type="text/javascript">-->
        <!--$(function () {-->
            <!--$("#defaultKeypad").jqxMaskedInput({mask: '#### #### #### ####' });-->
        <!--});-->
    <!--</script>-->
</head>

<body>

{% block content %}{% endblock content %}

</body>
</html>