<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}{% endblock title %}
    {% block script %}{% endblock script%}


    <style>
        body{
            /*background-image: url("/static/media/background.jpg");*/
            padding-top: 10%;
            text-align: center;
            background: linear-gradient(to left, #8FDB75, #435298);
        }
    </style>
    <style>
        #inlineKeypad { width: 10em; }
    </style>


    <link href="/static/css/jquery.keypad.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">



    <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.plugin.js"></script>
    <script type="text/javascript" src="/static/js/jquery.keypad.js"></script>
    <script type="text/javascript" src="/static/js/jquery.maskedinput.min.js"></script>
    <script type="text/javascript">
    $(function(){
        $('#defaultKeypad').keypad();
        $("#defaultKeypad").mask("9999 9999 9999 9999");
	});
    </script>

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar1" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/cash/">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>



{% block content %}{% endblock content %}


    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar2" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/cash/about/">About</a></li>
            <li><a href="/cash/contacts/">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

</body>
</html>