<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}{% endblock title %}
    <style>
        body{
            background-image: url("/static/media/background.jpg");
            padding-top: 10%;
            text-align: center;
        }
    </style>
    <link href="/static/css/jquery.keypad.css" rel="stylesheet">
    <style>
        #inlineKeypad { width: 10em; }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/js/jquery.plugin.js"></script>
    <script src="/static/js/jquery.keypad.js"></script>
    <script>
    $(function () {
	    $('#defaultKeypad').keypad();
	    $('#inlineKeypad').keypad({onClose: function() {
		    alert($(this).val());
	    }});
    });
    </script>

</head>
<body>

{% block content %}{% endblock content %}

</body>
</html>