{% extends "index.html" %}
    {% block title %}
    <title>Pin</title>
    {% endblock title %}

{% block content %}
<body>
    <h1 style="text-align: center;">Pin Code</h1>
    <form style="text-align: center;" action="." method="get">
        {% csrf_token %}
        <!--{{ form.as_p}}-->
        <input style="width:250px; height:40px; font-size:20px;" type="text" id="defaultKeypad" name="pin" placeholder="****" maxlength="4">
        <!--<input type="reset" value="Clear"/>-->
        <input class="btn btn-lg btn-success" type="submit" value="Ok"/>
        <input class="btn btn-lg btn-danger" onclick="location.href='/cash/'" type="button" value="Exit"/>
    </form>

{% endblock content %}