{% extends "index.html" %}
{% block title %}
    <title>Report Page</title>
{% endblock title %}

{% block content %}
        <div>
        <p>Card Number - {{ card }}</p>
        <p>Withdraw sum - {{ withdraw_cash }}</p>
        <p>Balance - {{ amount }}</p>
        <p>Date - {{ trans_time }}</p>
        <form>
            {% csrf_token %}
            <input type="button" onclick="location.href='/cash/operations/'" value="Prev"/>
            <input type="button" onclick="location.href='/cash/'" value="Exit"/>
        </form>
    </div>
{% endblock content %}