{% extends "index.html" %}
    {% block title %}
    <title>Take cash</title>
    {% endblock title %}

{% block content %}

<div>
	<form style="text-align: center;">
        {% csrf_token %}
        <input type="text" name="amount"/>
        <input type="reset" value="clear"/>
        <input type="submit" value="take"/>
        <input type="submit" value="exit"/>
    </form>
</div>
<div id="container" style="text-align: center;">
	<ul id="keyboard" style="font-size: 60px;">
		<p class="symbol">
			<span class="off"><a href="">1</a></span>
            <span class="off"><a href="">2</a></span>
            <span class="off"><a href="">3</a></span>
            <span class="off"><a href="">4</a></span>
            <span class="off"><a href="">5</a></span>
        </p>
        <p class="symbol">
            <span class="off"><a href="">6</a></span>
			<span class="off"><a href="">7</a></span>
            <span class="off"><a href="">8</a></span>
            <span class="off"><a href="">9</a></span>
            <span class="off"><a href="">0</a></span>
        </p>

	</ul>
</div>
 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
{% endblock content %}