{% extends "index.html" %}
    {% block title %}
    <title>Withdraw cash</title>
    {% endblock title %}

{% block content %}

<div>
	<form style="text-align: center;">
        <!--{% csrf_token %}-->
        <input style="width:250px; height:40px; font-size:20px;" type="text" id="defaultKeypad" name="amount" placeholder="100 $">
        <!--<input type="reset" value="clear"/>-->
        <input class="btn btn-lg btn-success" type="submit" value="take"/>
        <input class="btn btn-lg btn-danger" type="submit" value="exit"/>
    </form>
</div>
{% endblock content %}